.news {
    padding: 2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    border: 0.8px solid #dddddda1;
    border-top: none;
  }

  .news-avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .news-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  
  .news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .news-theme {
    font-weight: bold;
  }
  
  .news-time {
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .news-author {
    color: #666;
  }
  
  .news-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
  
  .news-title {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  
  .news-content {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
  }
  
  .news-image {
    width: 100%;
    max-height: 500px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .news-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .news-comment-btn,
  .news-share-btn {
    background-color: transparent;
    border: none;
    color: #1da1f2;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .news-comment-btn:hover,
  .news-share-btn:hover {
    text-decoration: underline;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #666;
  }

  
  
  @media (max-width: 768px) {
    .news {
      flex-direction: column;
      gap: 1rem;
    }
  
    .news-container {
      flex-direction: column;
    }
  
    .news-avatar {
      width: 70px;
      margin-right: 1rem;
    }
  
    .news-title {
      font-size: 1.2rem;
    }
  
    .news-content {
      font-size: 1rem;
    }
  
    .news-image {
      max-height: 300px;
    }
  }